.banner-breadcrumb
    .banner-trangrieng
        .img(bg-img="./img/vitri/1.jpg", bg-img-mobile="./img/vitri/1.jpg")

    .breadcrumb-wrapper
        .container
            ol.breadcrumb
                li
                    a.itemcrumb(href="javascript:void(0)")
                        span Trang chủ
                li
                    a.itemcrumb.active(href="javascript:void(0)")
                        span Vị trí