.matbang-1(bg-img="./img/matbang/01/bg.jpg" bg-img-mobile="./img/matbang/01/bg.jpg")
    .container
        h1.gradient-title.center Mặt bằng tổng quan
        img#map-image(data-src='./img/matbang/01/map.png', alt='', usemap='#matbang-01-map').lazyload.blur-up
        map(name='matbang-01-map' id="matbang-01-map")
            area(data-url="/matbang-02.html" shape='poly', coords='634, 204, 570, 218, 578, 249, 641, 234, 610, 248, 602, 256, 615, 284, 622, 284, 627, 292, 604, 305, 614, 324, 636, 313, 648, 334, 642, 329, 629, 335, 640, 354, 666, 343, 688, 387, 755, 366, 754, 359, 764, 353, 772, 372, 793, 359, 790, 351, 801, 345, 797, 327, 824, 313, 844, 348, 950, 298, 971, 351, 1012, 342, 986, 283, 1020, 264, 1025, 269, 1065, 252, 1076, 274, 1082, 271, 1071, 248, 1075, 243, 1071, 235, 1067, 234, 1063, 222, 1069, 215, 1058, 194, 1050, 197, 1040, 178, 1056, 169, 1037, 126, 1024, 133, 1015, 121, 1021, 115, 1013, 94, 1007, 95, 996, 83, 1015, 71, 1006, 48, 945, 71, 959, 96, 922, 114, 846, 148, 843, 152, 837, 156, 834, 154, 728, 209, 704, 212, 647, 238')
            area(data-url="/matbang-02.html" shape='poly', coords='78, 70, 62, 74, 49, 119, 49, 222, 65, 241, 112, 241, 112, 247, 102, 248, 102, 262, 130, 277, 186, 278, 186, 297, 273, 299, 272, 323, 303, 326, 304, 341, 362, 357, 355, 384, 397, 397, 404, 371, 430, 353, 438, 350, 438, 278, 451, 278, 453, 249, 438, 247, 438, 170, 449, 170, 451, 118, 437, 119, 438, 83, 421, 81, 419, 72, 449, 64, 442, 39, 385, 39, 384, 72, 362, 70, 358, 65, 354, 70, 317, 72, 312, 66, 307, 72, 284, 70, 277, 66, 272, 71, 249, 71, 246, 66, 238, 70, 205, 70, 201, 66, 195, 70, 174, 70, 170, 66, 164, 70, 130, 70, 124, 66, 122, 70, 98, 71, 94, 65, 89, 69')

        .row.content
            .col-lg-6
                .item
                    h2 Mặt bằng tầng 1 - Tháp B
                    .img
                        img(data-src='./img/matbang/01/b.png', alt='').lazyload.blur-up
            .col-lg-6
                .item
                    h2 Mặt bằng tầng 1 - Tháp A
                    .img
                        img(data-src='./img/matbang/01/a.png', alt='').lazyload.blur-up