.home-1
    .container
        h2 opal boulevard
        h1 Đại lộ phồn hoa, giao thoa thịnh vượng
        p Lấy cảm hứng từ vẻ đẹp lung linh của những viên đá quý, kết hợp với ý tưởng kiến tạo một thành phố năng động và hiện đại, Opal Boulevard mang vẻ đẹp rực rỡ, thời thượng của một khu đô thị sầm uất trên đại lộ đẹp nhất Tp.HCM. Nơi đây chính là chốn an cư lý tưởng kết nối cộng đồng sống văn minh của thời đại 4.0.