.home-6(bg-img="./img/bg_wood.jpg" bg-img-mobile="./img/bg_wood.jpg")
    .container
        h2 Tin tức
        .row
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(src="/img/tip1.jpg", alt="" data-object-fit-cover)
                    .content
                        h2 GIẬT MÌNH TRƯỚC VẺ ĐẸP DỰ ÁN CĂN HỘ OPAL BOULEVARD
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(src="/img/tip2.jpg", alt="" data-object-fit-cover)
                    .content
                        h2 ĐIỂM NHẤN OPAL BOULEVARD SO VỚI CÁC CĂN HỘ Ở THỦ ĐỨC
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(src="/img/tip3.jpg", alt="" data-object-fit-cover)
                    .content
                        h2 CẬP NHẬT MỚI NHẤT VỀ OPAL BOULEVARD: GIÁ BÁN, MẶT BẰNG, TIẾN ĐỘ
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(src="/img/tip4.jpg", alt="" data-object-fit-cover)
                    .content
                        h2 HẠ TẦNG PHÁT TRIỂN - LỢI THẾ CHO DỰ ÁN OPAL BOULEVARD
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(src="/img/tip5.jpg", alt="" data-object-fit-cover)
                    .content
                        h2 OPAL BOULEVARD - LỰA CHỌN TUYỆT VỚI CHO GIA ĐÌNH TRẺ
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(src="/img/tip6.jpg", alt="" data-object-fit-cover)
                    .content
                        h2 TIẾN ĐỘ DỰ ÁN OPAL BOULEVARD
                        .btn-viewmore
                            p Xem thêm