nav.zone-list-nav
    .desktop
        .container
                a(href="javascript:void(0)").active Tin tức
                a(href="javascript:void(0)") Báo chí
    .mobile
        .container
            select
                option(value="javascript:void(0)") Tin tức
                option(value="javascript:void(0)") Báo chí
.tintuc
    .container
        h1.gradient-title Tin tức Opal Boulevard

        .row
            .col-lg-8.big
                .main-news
                    .img
                        a(href="#")
                            img(data-src='./img/tintuc/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 
                            a(href="#") Opal Boulevard – Căn hộ nghỉ dưỡng giữa lòng Sài Gòn
                    .cover
            .col-lg-4.small
                .main-news
                    .img
                        a(href="#")
                            img(data-src='./img/tintuc/2.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 
                            a(href="#") Opal Boulevard – Căn hộ nghỉ dưỡng giữa lòng Sài Gòn
                    .cover
                .main-news
                    .img
                        a(href="#")
                            img(data-src='./img/tintuc/3.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 
                            a(href="#") Opal Boulevard – Căn hộ nghỉ dưỡng giữa lòng Sài Gòn
                    .cover

            .col-md-6.col-lg-4.normal-news
                a(href="javascript:void(0)")
                    .img
                        img(src="/img/tip1.jpg", alt="" data-object-fit-cover)
                    .content
                        .line
                        h2 GIẬT MÌNH TRƯỚC VẺ ĐẸP DỰ ÁN CĂN HỘ OPAL BOULEVARD
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4.normal-news
                a(href="javascript:void(0)")
                    .img
                        img(src="/img/tip2.jpg", alt="" data-object-fit-cover)
                    .content
                        .line
                        h2 ĐIỂM NHẤN OPAL BOULEVARD SO VỚI CÁC CĂN HỘ Ở THỦ ĐỨC
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4.normal-news
                a(href="javascript:void(0)")
                    .img
                        img(src="/img/tip3.jpg", alt="" data-object-fit-cover)
                    .content
                        .line
                        h2 CẬP NHẬT MỚI NHẤT VỀ OPAL BOULEVARD: GIÁ BÁN, MẶT BẰNG, TIẾN ĐỘ
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4.normal-news
                a(href="javascript:void(0)")
                    .img
                        img(src="/img/tip4.jpg", alt="" data-object-fit-cover)
                    .content
                        .line
                        h2 HẠ TẦNG PHÁT TRIỂN - LỢI THẾ CHO DỰ ÁN OPAL BOULEVARD
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4.normal-news
                a(href="javascript:void(0)")
                    .img
                        img(src="/img/tip5.jpg", alt="" data-object-fit-cover)
                    .content
                        .line
                        h2 OPAL BOULEVARD - LỰA CHỌN TUYỆT VỚI CHO GIA ĐÌNH TRẺ
                        .btn-viewmore
                            p Xem thêm
            .col-md-6.col-lg-4.normal-news
                a(href="javascript:void(0)")
                    .img
                        img(src="/img/tip6.jpg", alt="" data-object-fit-cover)
                    .content
                        .line
                        h2 TIẾN ĐỘ DỰ ÁN OPAL BOULEVARD
                        .btn-viewmore
                            p Xem thêm

        .modulepager
            ul.pagination
                li.PagerOtherPageCells
                    a.ModulePager.FirstPage(href='#', title='Trang đầu tiên') «
                li.PagerOtherPageCells
                    a.ModulePager.BackPage(href='#', title='Quay lại trang 5') ‹
                li.PagerCurrentPageCell.active
                    span.SelectedPage(title='Đến trang 1') 1
                li.PagerOtherPageCells
                    a.ModulePager(href='#', title='Đến trang 2') 2
                li.PagerOtherPageCells
                    a.ModulePager(href='#', title='Đến trang 3') 3
                li.PagerOtherPageCells
                    a.ModulePager(href='#', title='Đến trang 4') 4
                li.PagerOtherPageCells
                    a.ModulePager(href='#', title='Đến trang 5') 5
                li.PagerOtherPageCells
                    a.ModulePager.NextPage(href='#', title='Chuyển đến trang 7') ›
                li.PagerOtherPageCells
                    a.ModulePager.LastPage(href='#5', title='Trang cuối') »