#formTuVan.hidden
    .formtuvan-wrapper
        .formtuvan
            .wrap-form
                div
                    .tagline-form
                        h2 Tư vấn miễn phí
                        p Đăng ký ngay để được nhận bảng giá ưu đãi
                    .form-group.qtext
                        input(type="text" placeholder="Họ tên...")
                    .form-group.qtext
                        input(type="text" placeholder="Số điện thoại...")
                    .form-group.qtext
                        input(type="text" placeholder="Email...")
                    .form-group.qcheckboxes
                        label#ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_lbl2580b785f0f34642bf2ac5a954a7f0f2.label(for='ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2') Bạn quan tâm căn hộ nào
                        ul#ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2.cf
                            li
                                input#ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2_0(type='checkbox', name='ctl00$mainContent$ctl05$ctl2580b785f0f34642bf2ac5a954a7f0f2$chk2580b785f0f34642bf2ac5a954a7f0f2$0', value='Căn hộ 2 phòng ngủ')
                                label(for='ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2_0') Căn hộ 2 phòng ngủ
                            li
                                input#ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2_1(type='checkbox', name='ctl00$mainContent$ctl05$ctl2580b785f0f34642bf2ac5a954a7f0f2$chk2580b785f0f34642bf2ac5a954a7f0f2$1', value='Căn hộ 3 phòng ngủ')
                                label(for='ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2_1') Căn hộ 2 phòng ngủ
                            li
                                input#ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2_1(type='checkbox', name='ctl00$mainContent$ctl05$ctl2580b785f0f34642bf2ac5a954a7f0f2$chk2580b785f0f34642bf2ac5a954a7f0f2$1', value='Shop House')
                                label(for='ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_chk2580b785f0f34642bf2ac5a954a7f0f2_1') Shop House
                        span#ctl00_mainContent_ctl05_ctl2580b785f0f34642bf2ac5a954a7f0f2_val2580b785f0f34642bf2ac5a954a7f0f2 Vui lòng nhập Question 6.
                .form-group.frm-btnwrap
                    label.label  
                    .frm-btn
                        input#ctl00_mainContent_ctl05_btnSubmit.btn.btn-default.frm-btn-submit(type='submit', name='ctl00$mainContent$ctl05$btnSubmit', value='Gửi', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$mainContent$ctl05$btnSubmit", "", true, "formwizarddf029447-1898-483a-93f4-b8faf0bb8c2c", "", false, false))')
                        input#ctl00_mainContent_ctl05_btnReset.btn.btn-default.frm-btn-reset(name='ctl00$mainContent$ctl05$btnReset', type='reset', value='Xóa')
                        input#ctl00_mainContent_ctl05_hdnResponseSetGuid(type='hidden', name='ctl00$mainContent$ctl05$hdnResponseSetGuid')

        .image
            .img
                img(data-src='./img/gioithieu/5.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                