.breadcrumb-wrapper
    .container
        ol.breadcrumb
            li
                a.itemcrumb(href="javascript:void(0)")
                    span Trang chủ
            li
                a.itemcrumb(href="javascript:void(0)")
                    span Về Trường thịnh
            li
                a.itemcrumb.active(href="javascript:void(0)")
                    span Giới thiệu