.matbang-4
    .container
        h1.gradient-title.center Mặt bằng căn hộ điển hình
        select
            option(value="") Chọn loại căn hộ khác
            option(value="") Chọn loại căn hộ khác
            option(value="") Chọn loại căn hộ khác

        .content
            .row
                .col-lg-4
                    h2 Tháp B
                    h3.title Căn hộ B2 - 04 : 2 PN
                    .thumbnail
                        img(data-src='./img/matbang/04/2.jpg', alt='').lazyload.blur-up
                    h4 Từ tầng 03 - 35

                    .opal-table-v1
                        .table-title Thông tin căn hộ
                        .table-content
                            table
                                tr
                                    th.title DT Tim tường
                                    th 
                                        |75.43 m
                                        sup 2
                                tr
                                    th.title DT Thông thủy
                                    th 
                                        |69.92 m
                                        sup 2

                            .separator

                            table
                                tr
                                    td 
                                        |Phòng khách
                                        br
                                        |Bếp
                                        br
                                        |Bàn ăn
                                    td
                                        |32.78 m
                                        sup 2
                                tr
                                    td Phòng ngủ master
                                    td
                                        |13.53 m
                                        sup 2
                                tr
                                    td Phòng ngủ con
                                    td
                                        |8.30 m
                                        sup 2
                                tr
                                    td Vệ sinh master
                                    td
                                        |4.41 m
                                        sup 2
                                tr
                                    td Vệ sinh chung
                                    td
                                        |3.94 m
                                        sup 2
                                tr
                                    td Sân phơi
                                    td
                                        |3.22 m
                                        sup 2
                                tr
                                    td Logia
                                    td
                                        |3.74 m
                                        sup 2
                    .btn-popup-wrapper
                        a(data-src="images-1").btn-popup-v1 
                            img(src="./img/matbang/04/icon.png", alt="")
                            span Căn hộ mẫu
                .col-lg-8
                    a(href="./img/matbang/04/1.jpg" data-fancybox="images")
                        img(data-src='./img/matbang/04/1.jpg', alt='').lazyload.blur-up


            #matbang-popup.hidden
                .title Căn hộ mẫu b2 - 04
                .images
                    a(href="./img/bg_luxury01.jpg" data-thumb="./img/bg_luxury01.jpg" data-fancybox="images-1")
                        img(data-src="./img/bg_luxury01.jpg", alt="").lazyload.blur-up
                    a(href="./img/bg_luxury02.jpg" data-thumb="./img/bg_luxury02.jpg" data-fancybox="images-1")
                        img(data-src="./img/bg_luxury02.jpg", alt="").lazyload.blur-up
                    a(href="./img/bg_luxury03.jpg" data-thumb="./img/bg_luxury03.jpg" data-fancybox="images-1")
                        img(data-src="./img/bg_luxury03.jpg", alt="").lazyload.blur-up