.home-3
    .container
        .row
            .col-lg-6
                h2 Tiện ích
                h3 Các tiện ích nổi bật tại Opal Boulevard
            .col-lg-6
                p Với ý tưởng đưa các tiện ích nội khu lên lưng chừng trời sẽ mang lại cho cư dân sự trải nghiệm đầy thú vị và hoàn toàn khác biệt: Hồ bơi vô cực, sân vườn trên cao, phòng tập gym & yoga trên cao, khu leo núi trẻ em, khu giải trí, vườn tri thức… tất cả tạo nên một phong cách sống hoàn mỹ, đủ đầy và tiện nghi cho cả gia đình.