extends _layout.pug

block var
	- var title = 'Giới thiệu'
	- var bodyClass = 'gioithieu-page'

block main
	include ../components/banner/trangrieng/index.pug
	include ../components/gioithieu/index.pug