extends _layout.pug

block var
	- var title = 'Mặt bằng 1'
	- var bodyClass = 'matbang-01-page'

block main
	include ../components/banner/trangrieng/index.pug
	include ../components/matbang/m-1/index.pug