.progress-bar
.progress-bar-bg
header
	.container.desktop-header
		a(href="/").logo
		nav
			a(href="/").active Trang chủ
			a(href="/gioithieu.html") Giới thiệu
			a(href="/vitri.html") Vị trí
			a(href="/matbang-01.html") Mặt bằng
			a(href="/tienich.html") Tiện ích
			a(href="javascript:void(0)") Nhà mẫu 360
			a(href="/tintuc.html") Tin tức
			a(href="/tiendo.html") Tiến độ
			a(href="/thuvien.html") Thư viện
			a(href="javascript:void(0)") Liên hệ
		a(href="tel:0964355355").phone
			em.mdi.mdi-phone
			span 0964 355 355 
		.btn-header-menu
			em.mdi.mdi-menu
	.mobile-header
		.logo-mobile
	.backdrop