.home-parallax(data-parallax="scroll" data-speed=0.3 data-image-src="./img/bg_luxury01.jpg" data-image-src-mobile="./img/bg_luxury01.jpg")
    .container
        h2 
            |Vị trí chiến lược, kết nối
            br
            |đa chiều
        .link
            a(href="javascript:void(0)") Xem vị trí
.home-parallax(data-parallax="scroll" data-speed=0.3 data-image-src="./img/bg_luxury02.jpg" data-image-src-mobile="./img/bg_luxury02.jpg")
    .container
        h2 TRẢI NGHIỆM TIỆN ÍCH TẦM CAO
        .link
            a(href="javascript:void(0)") Xem tiện ích
.home-parallax(data-parallax="scroll" data-speed=0.3 data-image-src="./img/bg_luxury03.jpg" data-image-src-mobile="./img/bg_luxury03.jpg")
    .container
        h2 
            |KHÔNG GIAN SỐNG KHẲNG ĐỊNH
            br
            |ĐẲNG CẤP CHỦ NHÂN
        .link
            a(href="javascript:void(0)") Xem mặt bằng
