.matbang-2
    nav.zone-list-nav
        .desktop
            .container
                    a(href="javascript:void(0)") Tòa tháp a
                    a(href="javascript:void(0)").active Tòa tháp b
        .mobile
            .container
                select
                    option(value="javascript:void(0)") Tòa tháp a
                    option(value="javascript:void(0)") Tòa tháp b

    .content
        .container
            h1.gradient-title.center Mặt bằng tòa tháp B
            .img
                img#map-image(src='./img/matbang/02/map.png', alt='', usemap='#matbang-02-map')
            map(name='matbang-02-map')
                area(data-url="/matbang-03.html" shape="poly" coords="232,768,233,420,665,422,667,765")
