.home-7
    .container
        h2 Đối tác uy tín
        .row
            .col-sm-6.col-lg-3
                a(href="javascript:void(0)" target="_blank").item
                    .icon
                        img(src="./img/logo1.png", alt="")
                    .title
                        h3 CHỦ ĐẦU TƯ
            .col-sm-6.col-lg-3
                a(href="https://www.datxanh.vn/" target="_blank").item
                    .icon
                        img(src="./img/logo2.png", alt="")
                    .title
                        h3 NHÀ PHÁT TRIỂN DỰ ÁN
            .col-sm-6.col-lg-3
                a(href="https://tpb.vn/" target="_blank").item
                    .icon
                        img(src="./img/logo3.png", alt="")
                    .title
                        h3 NGÂN HÀNG HỖ TRỢ
            .col-sm-6.col-lg-3
                a(href="http://www.ong-ong.com/" target="_blank").item
                    .icon
                        img(src="./img/logo4.png", alt="")
                    .title
                        h3 TƯ VẤN THIẾT KẾ