.thuvienanh.hidden
    .container
        h1.gradient-title Hình ảnh

        .row
            .col-lg-6.image-gallery-wrapper
                a.image-gallery(onclick="fancyboxImages('image-gallery-1')")
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                    .cover
                        h2 Phòng trẻ em
                    .bg
                    .icon
                        em.mdi.mdi-magnify
                    .images.hidden
                        img(data-src='./img/tiendo/1.jpg', alt='' data-fancybox="image-gallery-1").lazyload.blur-up
                a.image-gallery(onclick="fancyboxImages('image-gallery-1')")
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                    .cover
                        h2 Phòng trẻ em
                    .bg
                    .icon
                        em.mdi.mdi-magnify
                    .images.hidden
                        img(data-src='./img/tiendo/1.jpg', alt='' data-fancybox="image-gallery-1").lazyload.blur-up
                a.image-gallery(onclick="fancyboxImages('image-gallery-1')")
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                    .cover
                        h2 Phòng trẻ em
                    .bg
                    .icon
                        em.mdi.mdi-magnify
                    .images.hidden
                        img(data-src='./img/tiendo/1.jpg', alt='' data-fancybox="image-gallery-1").lazyload.blur-up
            .col-lg-6.image-gallery-wrapper
                a.image-gallery(onclick="fancyboxImages('image-gallery-1')").reverse
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                    .cover
                        h2 Phòng trẻ em
                    .bg
                    .icon
                        em.mdi.mdi-magnify
                    .images.hidden
                        img(data-src='./img/tiendo/1.jpg', alt='' data-fancybox="image-gallery-1").lazyload.blur-up
                a.image-gallery(onclick="fancyboxImages('image-gallery-1')").reverse
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                    .cover
                        h2 Phòng trẻ em
                    .bg
                    .icon
                        em.mdi.mdi-magnify
                    .images.hidden
                        img(data-src='./img/tiendo/1.jpg', alt='' data-fancybox="image-gallery-1").lazyload.blur-up
                a.image-gallery(onclick="fancyboxImages('image-gallery-1')").reverse
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover).lazyload.blur-up
                    .cover
                        h2 Phòng trẻ em
                    .bg
                    .icon
                        em.mdi.mdi-magnify
                    .images.hidden
                        img(data-src='./img/tiendo/1.jpg', alt='' data-fancybox="image-gallery-1").lazyload.blur-up

.thuvienbrochure.hidden
    .container
        h1.gradient-title Download Brochure

        .row
            .col-sm-6.col-lg-3
                a(href="javascript:void(0)" download="").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
            .col-sm-6.col-lg-3
                a(href="javascript:void(0)" download="").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
            .col-sm-6.col-lg-3
                a(href="javascript:void(0)" download="").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
            .col-sm-6.col-lg-3
                a(href="javascript:void(0)" download="").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
            .col-sm-6.col-lg-3
                a(href="javascript:void(0)" download="").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1


.thuvienvideo
    .container
        h1.gradient-title.center Video

        .row.videos
            .col-md-6.col-lg-12
                a(href="https://www.youtube.com/watch?v=nc5v2cmBVps" data-fancybox="video-1").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
                    .cover
                    .icon
                        img(src="./img/play_button.png", alt="")
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
                    .cover
                    .icon
                        img(src="./img/play_button.png", alt="")
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
                    .cover
                    .icon
                        img(src="./img/play_button.png", alt="")
            .col-md-6.col-lg-4
                a(href="javascript:void(0)").item
                    .img
                        img(data-src='./img/tiendo/1.jpg', alt='' data-object-fit-cover="").lazyload.blur-up
                    .title
                        h2 Opal Boulevard 1
                    .cover
                    .icon
                        img(src="./img/play_button.png", alt="")


