.home-5
    .container
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="./img/bg_luxury01.jpg", alt="")
                .swiper-slide
                    img(src="./img/bg_luxury02.jpg", alt="")
                .swiper-slide
                    img(src="./img/bg_luxury03.jpg", alt="")

            .swiper-controls
                .btn-prev
                    em.mdi.mdi-chevron-left
                .btn-next
                    em.mdi.mdi-chevron-right