.banner-trangchu
    a(href="https://www.youtube.com/watch?v=-FCXkFopLX4" data-fancybox)
        .img(bg-img="./img/bg_banner_1.jpg", bg-img-mobile="./img/bg_banner_1.jpg")
        .play
            em.mdi.mdi-play-circle-outline