<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="MatBang_DSCanHo.xslt" name="Danh sách căn hộ"></templatelist>
  <templatelist xsltname="DS-TinTuc.xslt" name="Danh sách tin tức"></templatelist>
  <templatelist xsltname="TienIch.xslt" name="Tiện ích"></templatelist>
  <templatelist xsltname="ThuVienAnh.xslt" name="Thư viện ảnh"></templatelist>
  <templatelist xsltname="ThuVienVideo.xslt" name="Thư viện video"></templatelist>
  <templatelist xsltname="ThuVienBrochure.xslt" name="Thư viện brochure"></templatelist>
  <templatelist xsltname="TienDo.xslt" name="Tiến độ"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="MatBang_CTCanHo.xslt" name="Chi tiết căn hộ"></templatedetail>
  <templatedetail xsltname="CT-TinTuc.xslt" name="Chi tiết tin tức"></templatedetail>

  <position>
    <add name="Danh sách căn hộ" value="1" resourcefile="" />
  </position>
</templates>