.tienich
    padding: 80px 0


    .imagemap-wrapper
        position: relative
        .map-wrapper
            margin-top: 50px
            img
                width: 100%
                height: auto

        .tooltip-wrapper
            visibility: hidden
            position: absolute
            @media (max-width: 768px)
                display: none
            &.active
                visibility: visible

        .tooltip
            visibility: hidden
            position: relative
            display: flex
            align-items: center
            flex-direction: column
            height: 0
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3)
            transition: .5s ease-in-out
            transform: scale(0)
            border-radius: 4px
            opacity: 0
            &.active
                height: auto
                z-index: 10
                transform: scale(1)
                opacity: 1
                visibility: visible
                .title
                    opacity: 1
            .title
                opacity: 0
                width: 300px
                border-radius: 4px
                background: linear-gradient(60deg, #ffcb05 0%, #ed1e24 100%)
                padding: 15px 30px
                font-size: 15px
                font-weight: 700
                height: auto
                color: $trang
                line-height: 24px
                text-align: center
                display: flex
                align-items: center
                position: relative
                z-index: 2
                border-top-left-radius: 0
                border-top-right-radius: 0
                transition: .5s ease-in-out
            .subtitle
                font-size: rem(13px)
                font-weight: 400
                color: #ffffff
            .pointer
                position: absolute
                content: ''
                background: linear-gradient(-45deg, #ffcb05 0%, #ed1e24 100%)
                z-index: 1
                width: .75rem
                height: .75rem
                bottom: -.6rem
                left: 50%
                transform: rotate(45deg) translateX(-50%)
            @media (max-width: 768px)
                display: none
            .image
                height: 10rem
                width: 300px
                position: relative
                border-radius: 4px
                border-bottom-left-radius: 0
                border-bottom-right-radius: 0
                overflow: hidden
                img
                    width: 100%
                    height: 100%
                    border-radius: 4px
                    border-bottom-left-radius: 0
                    border-bottom-right-radius: 0
                    object-fit: cover
            .briefContent
                font-size: .75rem
                font-weight: 400
                color: $den
                line-height: 24px
                text-align: center
                min-height: 144px
                width: 300px
                height: auto
                padding: 10px
            &.without-image
                flex-direction: column-reverse
                height: auto
                min-height: initial
                background-color: $trang
            &.without-briefContent
                height: auto
                min-height: initial
            &.only-title
                padding: 0
                .title
                    margin: 0
                    border-radius: 4px
        .dot
            background-color: $trang
            border: 3px solid #ffb401
            display: flex
            align-items: center
            justify-content: center
            font-size: 18px
            color: #ffb401
            font-weight: 700
            opacity: 0
            transition: .5s ease-in-out
            &.active
                opacity: 1
    .col-lg-4.col-xl-3
        margin-top: 30px

    .items
        margin-top: 50px
        .item
            border-radius: 5px
            display: flex
            align-items: center
            cursor: pointer
            &:hover, &.active
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2)
                .title
                    background-color: $trang
                    h2
                        color: $primary
                .number
                    background: linear-gradient(45deg, rgb(237,30,36) 0%, rgb(255,203,5) 100%)
                    p
                        color: $trang
            .title
                height: 35px
                overflow: hidden
                padding: 0 15px
                display: flex
                align-items: center
                border-top-right-radius: 5px
                border-top-left-radius: 5px
                transition: .25s cubic-bezier(.4,0,.2,1)
                flex: 0 0 calc(100% - 35px)
                h2
                    font-size: 14px
                    font-weight: 400
                    color: $den
                    display: -webkit-box
                    -webkit-line-clamp: 1
                    -webkit-box-orient: vertical
                    line-height: 24px
                    height: 24px
                    overflow: hidden
                    transition: .25s cubic-bezier(.4,0,.2,1)
                    
            .number
                border-top-left-radius: 5px
                border-bottom-left-radius: 5px
                width: 35px
                height: 35px
                display: flex
                align-items: center
                justify-content: center
                flex: 0 0 35px
                transition: .25s cubic-bezier(.4,0,.2,1)
                p
                    font-size: 14px
                    font-weight: 700
                    color: #ffcb05
                    transition: .25s cubic-bezier(.4,0,.2,1)

.tienich-2
    padding: 70px 0
    .desc
        font-size: 18px
        color: #666666
        font-weight: 300
        line-height: 28px
        text-align: center
        margin-left: auto
        margin-right: auto
        margin-bottom: 30px
        @media (min-width: 992px)
            width: 60%
            margin-bottom: 40px
    .items
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0
    .title
        display: flex
        align-items: center
        border-bottom: 2px solid #ffb401
        padding-bottom: 8px
        margin-bottom: 15px
        img
            margin-right: 8px
            display: block
        span
            font-size: 16px
            font-weight: 500
            color: #ffb401

    .item
        font-size: 14px
        font-weight: 400
        color: #666666
        line-height: 30px

    .items
        .img
            display: flex
            align-items: center
            justify-content: center
            margin: 30px 0
            text-decoration: none
            @media (min-width: 992px)
                margin: 0
            img
                max-width: 100%
                height: auto
