.tienich(bg-img="./img/matbang/01/bg.jpg" bg-img-mobile="./img/matbang/01/bg.jpg")
    .container
        h1.gradient-title.center Trải nghiệm tiện ích tầm cao

        .imagemap-wrapper.imagemap-wrapper-1
            .map-wrapper.map-wrapper-1
                img#map-image(data-src='./img/matbang/01/map.png', alt='', usemap='#tienich').lazyload.blur-up
                map(name='tienich' id="tienich")
                    area(data-map="1" coords="549,286,23" shape="circle")
                    area(data-map="3" coords="598,150,23" shape="circle")
                    area(data-map="8" coords='1107,13,19', shape='circle')
                    area(data-map="4" coords='1111,179,19', shape='circle')
                    area(data-map="5" coords='1208,222,22', shape='circle')
                    area(data-map="6" coords='161,54,21', shape='circle')
                    area(data-map="7" coords='14,159,29', shape='circle')

                    

            .tooltip-wrapper.tooltip-wrapper-1
                .tooltip(data-map="Hồ bơi thi đấu 50m")
                    .title Hồ bơi thi đấu 50m
                    .pointer

        .items
            .row
                .col-lg-3
                    .item(data-map="1")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước asdasdasdasdsd
                    .item(data-map="3")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                .col-lg-3
                    .item(data-map="1")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item(data-map="3")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                .col-lg-3
                    .item(data-map="1")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item(data-map="3")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                .col-lg-3
                    .item(data-map="1")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item(data-map="3")
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
                    .item
                        .number 
                            p 01
                        .title 
                            h2 Bảng hiệu và đài phun nước
    .map-list-1.hidden
        div.map-list-info(data-map="1" data-number="01")
            .title Hồ bơi thi đấu 50m
            .briefContent
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi rerum suscipit, corporis voluptas esse laudantium quod sequi aliquam quia? Voluptate deleniti consequatur accusamus, cum nesciunt cupiditate odio enim adipisci dolores.
            .pointer
        div.map-list-info(data-map="2" data-number="02")
            .title Công viên thể dục
            .briefContent
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi rerum suscipit, corporis voluptas esse laudantium quod sequi aliquam quia? Voluptate deleniti consequatur accusamus, cum nesciunt cupiditate odio enim adipisci dolores.
            .pointer
        div.map-list-info(data-map="3" data-number="03")
            .image
                img(src="/img/tiendo/1.jpg", alt="", data-object-fit-cover)
            .title Hồ thể dục dưới nước asdasdassdasdasd
            .pointer
        div.map-list-info(data-map="4" data-number="04")
            .title Hồ thủy lực
            .pointer
        div.map-list-info(data-map="5" data-number="05")
            .image
                img(src="/img/tiendo/1.jpg", alt="", data-object-fit-cover)
            .title Hồ thể dục dưới nước asdasdassdasdasd
            .pointer
        div.map-list-info(data-map="6" data-number="06")
            .image
                img(src="/img/tiendo/1.jpg", alt="", data-object-fit-cover)
            .title Hồ thể dục dưới nước asdasdassdasdasd
            .pointer
        div.map-list-info(data-map="7" data-number="07")
            .image
                img(src="/img/tiendo/1.jpg", alt="", data-object-fit-cover)
            .title Hồ thể dục dưới nước asdasdassdasdasd
            .pointer
        div.map-list-info(data-map="8" data-number="08")
            .image
                img(src="/img/tiendo/1.jpg", alt="", data-object-fit-cover)
            .title Hồ thể dục dưới nước asdasdassdasdasd
            .pointer


.tienich-2
    .container
        .desc Với ý tưởng đưa các tiện ích nội khu lên lưng chừng trời sẽ mang lại cho cư dân sự trải nghiệm đầy thú vị và hoàn toàn khác biệt: Hồ bơi vô cực, sân vườn trên cao, phòng tập gym &amp; yoga trên cao, khu leo núi trẻ em, khu giải trí, vườn tri thức… tất cả tạo nên một phong cách sống hoàn mỹ, đủ đầy và tiện nghi cho cả gia đình.
        .row
            .col-lg-3
                .items
                    .title 
                        img(src="./img/tienich/i1.png", alt="")
                        span Giao thông công cộng
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                .items
                    .title 
                        img(src="./img/tienich/i2.png", alt="")
                        span Hệ thống giáo dục
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                .items
                    .title 
                        img(src="./img/tienich/i3.png", alt="")
                        span Y tế
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
            .col-lg-6
                .items
                    a(data-fancybox="tienich-2" href="./img/tienich/1.png").img
                        img(src="./img/tienich/1.png", alt="")
            .col-lg-3
                .items
                    .title 
                        img(src="./img/tienich/i4.png", alt="")
                        span Khu vui chơi thể thao
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                .items
                    .title 
                        img(src="./img/tienich/i5.png", alt="")
                        span Giải trí
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                .items
                    .title 
                        img(src="./img/tienich/i6.png", alt="")
                        span TTTM siêu thị
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây
                    .item 01. Cao tốc Long Thành - Dầu Giây