.gioithieu-1(bg-img="./img/gioithieu/bg.jpg" bg-img-mobile="./img/gioithieu/m_bg.jpg")
    .container
        .row
            .col-lg-6
                h2.gradient-title
                    span.semibold Địa thế thịnh vượng
                    br
                    span cho cuộc sống thăng hoa

                .desc Tọa lạc trên cung đường vàng Phạm Văn Đồng, Opal Boulevard sở hữu vị trí giao thương chiến lược cùng với vô vàn tiện ích sống cực kỳ phong phú của khu Đông Sài Gòn. Opal Boulevard nổi bật với phong cách kiến trúc hiện đại với hai khối tháp vững chãi vươn lên trời cao giữa một thành phố năng động.
                .blocks
                    .block
                        .icon
                            img(data-src='./img/gioithieu/i1.png', alt='').lazyload.blur-up
                        .text
                            h3 Diện tích sàn xây dựng
                            p 18 Kha Vạn Cân, P.An Bình, TX. Dĩ An, Bình Dương
                    .block
                        .icon
                            img(data-src='./img/gioithieu/i2.png', alt='').lazyload.blur-up
                        .text
                            h3 Diện tích khu đất
                            p.big 162,345 m2
                    .block
                        .icon
                            img(data-src='./img/gioithieu/i3.png', alt='').lazyload.blur-up
                        .text
                            h3 Quy mô dự án
                            p.big 162,345 m2
                    .block
                        .icon
                            img(data-src='./img/gioithieu/i4.png', alt='').lazyload.blur-up
                        .text
                            h3 Vị trí
                            p 18 Kha Vạn Cân, P.An Bình, TX. Dĩ An, Bình Dương
                            .info
                                table
                                    tr
                                        td
                                            span Tháp A1: 
                                            span 278 căn hộ và 7 TMDV
                                    tr
                                        td
                                            span Tháp A2: 
                                            span 287 căn hộ và 1 TMDV
                                table
                                    tr
                                        td
                                            span Tháp B1: 
                                            span 437 căn hộ và 8 TMDV
                                    tr
                                        td
                                            span Tháp B2: 
                                            span 444 căn hộ và 6 TMDV
            .col-lg-6
                .img
                    a(href="./img/gioithieu/5.jpg" data-fancybox)
                        img(data-src='./img/gioithieu/5.jpg', alt='', data-object-fit-cover).lazyload.blur-up

.gioithieu-2
    .container
        .row.row-reverse    
            .col-lg-6
                .img
                    a(href="./img/gioithieu/1.jpg" data-fancybox="gioithieu-1")
                        img(data-src='./img/gioithieu/1.jpg', alt='', data-object-fit-cover).lazyload.blur-up
            .col-lg-6
                .content
                    h2.gradient-title
                        span Khám phá viên ngọc quý
                        br
                        span.semibold Opal Boulevard
                    .desc Lấy cảm hứng từ vẻ đẹp lung linh của những viên đá quý, kết hợp với ý tưởng kiến tạo một thành phố năng động và hiện đại, Opal Boulevard mang vẻ đẹp rực rỡ, thời thượng của một khu đô thị sầm uất trên đại lộ đẹp nhất Tp.HCM. Nơi đây chính là chốn an cư lý tưởng kết nối cộng đồng sống văn minh của thời đại 4.0
        .row.slides
            .col-lg-3
                .img
                    a(href="./img/gioithieu/2.jpg" data-fancybox="gioithieu-1")
                        img(data-src='./img/gioithieu/2.jpg', alt='', data-object-fit-cover).lazyload.blur-up
            .col-lg-6
                .img
                    a(href="./img/gioithieu/3.jpg" data-fancybox="gioithieu-1")
                        img(data-src='./img/gioithieu/3.jpg', alt='', data-object-fit-cover).lazyload.blur-up
            .col-lg-3
                .img
                    a(href="./img/gioithieu/4.jpg" data-fancybox="gioithieu-1")
                        img(data-src='./img/gioithieu/4.jpg', alt='', data-object-fit-cover).lazyload.blur-up